@import "base";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: $white;
    font-family: 'Hanken Grotesk';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    gap: 2.4rem;
    @media (width >= 768px) {
        background-color: $paleBlue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        gap: 5.6rem;
    }
}

main{
    width: 100%;
    max-width: 73.6rem;
    display: grid;
    grid-template-rows: 1fr max-content;
    background-color: aqua;
    overflow: hidden;
    @media (width >= 768px) {
        display: grid;
        align-content: center;
        margin: 0 auto;
        border-radius: 3.2rem;
        box-shadow: 0 3rem 6rem rgba($color: $lightSlateBlue, $alpha: .1);
    }
    .card{
        background-color: $white;
        @media (width >= 768px) {          
            display: grid;
            grid-template-columns: 1fr 1fr;
            // border-radius: 3.2rem;
        }
        &__score{
            @include card-score;
            .pre-title{
                @include h3;

            }
            .score{
                @include score;
                h1{
                    @include h1;
                }
                span{
                    @include text($color: $labelightLavender);
                    @media (width >= 768px){
                        font-size: 1.8rem;
                    }
                }
            }
            h2{
                @include h2;
                margin-bottom: .8rem;
            }
            p{
                @include text($size: 1.8rem, $color: $labelightLavender);
                font-weight: 500;
                display: block;
                margin-bottom: 0;
            }
        }
        &__summary{
            padding: 3rem;
            @media (width >= 768px){
                background-color: $white;
                padding: 3.8rem 4rem 4.6rem;
            }
            h3{
                @include h3;
                color: $darkGrayBlue;
                margin-bottom: 2.4rem;
            }
            .card__container{
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
            }
            .item{
                @include item;
                h4{
                    display: flex;
                    gap: 1.2rem;
                }
                p{
                    color: $darkGrayBlue;
                }
            }
        }
        button{
            @include button
        }
        button:hover{
            background-image: $gradient_01;
        }
    }
}

.itemReaction{
    @include itemReaction;
}

.itemMemory{
    @include itemMemory;
}

.itemVerbal{
    @include itemVerbal;
}

.itemVisual{
    @include itemVisual;
}

footer {
    font-size: 11px; 
    text-align: center;
    margin-bottom: 3.2rem;
    a { 
        color: $violetBlue;
        font-weight: 700;
    }
}